<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fisheye RAPID Algorithm</title>
  <link rel="stylesheet" href="../static/main.css">
</head>
<body>
 	<div class="container">
        
        <h1>Menu</h1>

        <!-- Open Camera -->
        <a href="/">
        <button type="button" id="openCam">CAMERA</button>
        </a>
       
        <!-- Select RAPID weight Image Button -->
        <a href="rapid.html">
        <button type="button" id="rapid">RAPID</button>
        </a>

        <!-- Select RAPID-FA weight Image Button -->
        <a href="rapidfa.html">
        <button type="button" id="rapidFA">RAPID-FA</button>
        </a>
        
        <!-- Select RAPID-FGFA weight Image Button -->
        <a href="rapidfgfa.html">
        <button type="button" id="rapidFGFA">RAPID-FGFA</button>
        </a>
        

    </div>
</body>
</html>
